.root {
  padding: 0;
  display: grid;
  gap: 1rem;

  transition: opacity 0.7s linear;

  & * {
    opacity: 1;
  }

  &__blockquote {
    font-size: 1.1rem;
    line-height: 1.5rem;

    word-break: auto;
    text-align: justify;
    text-align-last: center;
    letter-spacing: 0.1rem;
  }
  &__author {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-align: right;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
