$__bp__mobile: "max-width: 475px";

.stoic {
  --base-margin: 25px;
  margin: 0;
  position: fixed;
  left: calc(50% - min(50vw, 200px));
  top: 35vh;

  display: grid;
  gap: 1rem;

  opacity: 0;

  container-type: inline-size;
  font-family: Montserrat, sans-serif;

  width: min(100vw, 400px);
  padding: 6px 1.5rem 1rem 1.5rem !important;

  transition: opacity 1s ease-in-out;

  @media screen and ($__bp__mobile) {
    left: 0 !important;
    right: 0 !important;
    width: auto;
    --base-margin: 0;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}
