$__bp__mobile: "max-width: 475px";

.stoic {
  --base-margin: 25px;
  margin: 0;
  position: fixed;
  left: calc(50% - min(50vw, 200px));
  top: 35vh;

  display: grid;
  gap: 1rem;

  container-type: inline-size;

  font-family: Montserrat, sans-serif;

  width: min(100vw, 400px);

  padding: 2rem 2rem 1rem 2rem !important;

  @media screen and ($__bp__mobile) {
    left: 0 !important;
    right: 0 !important;
    width: auto;
    --base-margin: 0;
  }
}
