$__clr__bg: rgb(0, 0, 0);
$__clr__text: rgb(255, 255, 255);
$__bp__mobile: "max-width: 475px";

@media (prefers-color-scheme: dark) {
  $__clr__text: rgb(0, 0, 0);
  $__clr__bg: rgba(255, 255, 255, 0.75);
}
:root {
  --base-margin: 25px;
}

.stoic {
  margin: 0;
  position: fixed;
  left: calc(50% - min(50vw, 150px));
  top: 35%;

  display: grid;
  gap: 15px;

  container-type: inline-size;

  font-family: Montserrat, sans-serif;

  width: min(100vw, 400px);
  padding: 25px;

  border-radius: 15px;

  background-color: $__clr__bg;
  color: $__clr__text;
  animation: clrAll 1.5s ease-out normal;

  @media screen and ($__bp__mobile) {
    left: 0 !important;
    right: 0 !important;
    width: auto;
    --base-margin: 0;
  }

  & * {
    padding: 0;
    margin: 0;
  }

  &__backquote {
    font-size: 1.1rem;
    line-height: 1.5rem;

    word-break: auto;
    text-align: justify;
    text-align-last: center;
    letter-spacing: 0.1rem;
  }
  &__author {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-align: right;
  }

  &_showText {
    color: $__clr__text;
    transition: color 0.5s ease-in-out;
  }
  &_hideText {
    color: transparent;
    transition: color 0.5s ease-in-out;
  }

  &_hide {
    display: none;
  }

  & svg {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 25px;
    height: 25px;
    stroke-width: 5px;
    stroke: $__clr__bg;
    animation: clrAll1 1.5s ease-out normal;

    transition: transform 0.3s ease-in-out;
    transform: rotate(0);

    @media screen and ($__bp__mobile) {
      top: 5px;
      right: 5px;

      stroke: $__clr__text;
    }
  }
  & svg:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
  }

  @each $p1, $p2 in (("top" "bottom"), ("left", "right")) {
    &_#{$p1} {
      #{$p1}: var(--base-margin);
      #{$p2}: auto;
    }
    &_#{$p2} {
      #{$p2}: var(--base-margin);
      #{$p1}: auto;
    }
  }
}
@keyframes clrAll {
  0% {
    background-color: transparent;
    color: transparent;
  }
  100% {
    background-color: $__clr__bg;
    color: $__clr__text;
  }
}

@keyframes clrAllDark {
  0% {
    background-color: transparent;
    color: transparent;
  }
  100% {
    background-color: $__clr__text;
    color: $__clr__bg;
  }
}

@keyframes clrAll1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
