.skeleton {
  //   border: 1px solid var(--grey-3);
  //   border-radius: 8px;
  display: grid;
  gap: 1rem;

  & > div:last-child {
    place-self: flex-end;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__line + &__line {
    margin-top: 16px;
  }
  &__line + &__group {
    margin-top: 16px;
  }

  &__group {
    flex-grow: 1;
  }

  &__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-repeat: repeat-x;
    background: linear-gradient(
      90deg,
      #dde2e5 6.44%,
      #e2e6e8 38.47%,
      #f3f5f5 56.48%,
      #e3e7ea 77.5%,
      #dde2e5 102.52%
    );
    animation: 90s linear 0s infinite normal skeletonBackground;
  }
  &__bar {
    min-height: 20px;
    background-repeat: repeat-x;
    background: linear-gradient(
      90deg,
      #dde2e5 6.44%,
      #e2e6e8 38.47%,
      #f3f5f5 56.48%,
      #e3e7ea 77.5%,
      #6e6f70 102.52%
    );
    animation: 20s linear 0s infinite normal skeletonBackground;
  }

  @media screen and (max-width: 768px) {
    &__bar {
      animation: 10s linear 0s infinite normal skeletonBackground;
    }
  }

  &__bar + &__bar {
    margin-top: 8px;
  }

  &__bar_small {
    width: 25%;
  }
  &__bar_medium {
    width: 50%;
  }
  &__bar_big {
    width: 75%;
  }
  &__bar_full {
    width: 100%;
  }

  @keyframes skeletonBackground {
    from {
      background-position: 0vw;
    }
    to {
      background-position: 110vw;
    }
  }
  &_preview {
    width: 100%;
    margin: 0 25px 0 25px;
  }
}
